/* General Reset */
* {
    font-family: "Edu TAS Beginner", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: #0e0b16;
    color: #E7DFDD;
}

/* Nav Bar */
.nav-menu {
    display: flex;
}

#nav-logo {
    height: 85px;
    width: auto;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.nav-menu li {
    padding: 20px 30px;
    background-color: #0e0b16;
}

.nav-menu a {
    background-color: #0e0b16;
    color: #E7DFDD;
}

hr {
    border: 2px solid #A239CA;
    margin-bottom: 20px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px -3px 9px #4717F6;
}

/* About Section */
#about {
    border: 3px dashed #A239CA;
    border-radius: 10px;
    background-color: #474747;
    padding: 0px 30px 20px 30px;
    margin: 20px 50px;
}

#about h2, #about p {
    background-color: #474747;
}

h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    color: #4717F6;
    text-shadow: 1px 1px 4px #E7DFDD;
    margin: 15px 0px;
}

/* Projects Section */
#projects {
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-tile {
    border: 2px solid #A239CA;
    border-radius: 10px;
    box-shadow: 3px 3px 9px #E7DFDD;
    padding: 30px;
    margin: 20px 0;
    max-width: 40%;
}

.project-title {
    padding-bottom: 20px;
}

.project-photo {
    height: 200px;
    width: auto;
}

.desc-container {
    display: none;
}

.project-skills-list {
    list-style-position: inside;
}

/* Skills Section */
.logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #474747;
    margin: 0px 50px 30px 50px;
    border-radius: 15px;
}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: #474747;
    padding: 15px 20px;
}

/* Footer Section */
footer {
    text-align: center;
    margin-bottom: 10px;
}

/* Contact Page */
.contact-page {
    text-align: center;
}

#contact-logo {
    align-self: center;
    height: 400px;
    width: auto;
}

#email a {
    text-decoration: underline;
}

.social-logos {
    display: flex;
    justify-content: center;
}

.social-logos img {
    width: 50px;
    margin: 20px;
}