:root {
    --background-color: #0E0B16;
    --text-color: #E7DFDD;
    --accent-color: #A239CA;
    --secondary-color: #4717F6;
    --font-family: "Edu TAS Beginner", serif;
}

/* General Reset */
body {
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Nav Bar */
.nav-menu {
    display: flex;
}

#nav-logo {
    height: 85px;
    width: auto;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.nav-menu li {
    padding: 0px 30px;
    background-color: var(--background-color);
}

.nav-menu a {
    background-color: var(--background-color);
    color: var(--text-color);
    text-decoration: none;
    font-size: 2.5em;
}

.nav-menu a:hover {
    text-decoration: underline;
}

hr {
    border: 2px solid var(--accent-color);
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px -3px 9px var(--secondary-color);
}

/* About Section */
main {
    font-size: 1.5em;
}

#about {
    border: 3px dashed var(--accent-color);
    border-radius: 10px;
    background-color: #474747;
    padding: 0px 30px 20px 30px;
    margin: 20px 50px;
}

#about h2, #about p {
    background-color: #474747;
}

h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    color: var(--secondary-color);
    text-shadow: 1px 1px 4px var(--text-color);
    margin: 15px 0px;
}

/* Projects Section */
#projects {
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-tile {
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    box-shadow: 3px 3px 9px var(--text-color);
    padding: 30px;
    margin: 20px 0;
    max-width: 40%;
}

.project-title {
    padding-bottom: 20px;
}

.project-photo {
    width: 90%;
    height: auto;
}

.desc-container {
    display: none;
}

.project-skills-list {
    list-style-position: inside;
}

/* Skills Section */
.logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #474747;
    margin: 0px 50px 30px 50px;
    border-radius: 15px;
}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: #474747;
    padding: 15px 20px;
}

/* Footer Section */
footer {
    text-align: center;
    margin-bottom: 10px;
}

/* Contact Page */
.contact-page {
    text-align: center;
}

#contact-logo {
    align-self: center;
    height: 400px;
    width: auto;
}

#email a {
    text-decoration: underline;
}

.social-logos {
    display: flex;
    justify-content: center;
}

.social-logos img {
    width: 50px;
    margin: 20px;
}

@media (max-width: 600px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    #nav-logo {
        height: 60px;
    }

    .nav-menu ul {
        flex-direction: column;
        padding: 0;
    }

    #about, .logo-container {
        margin: 10px;
        padding: 10px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-tile {
        max-width: 90%;
    }

    .logo-container img {
        width: 75px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .nav-menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .project-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-tile {
        max-width: 45%;
    }
}